body {
    text-align: center;
    background-color: black;
    color: white;

}

div {
    width: 50%;
    margin-left: 25%
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px;
    border-color: white;
    border-style: solid;
    width: 100%;
}